/* _dark.scss */

@mixin dark-theme {
    --clr-min: 0 0 0; // 최소 대비 (컬러 스키마에 대해)
    --clr-max: 255 255 255; // 최대 대비 (컬러 스키마에 대해)

    --clr-theme: var(--clr-tint-80); // 메인 컬러
    --clr-background: var(--clr-surface-0); // 배경

    --clr-tint-0: 100 242 180; // 틴트 0
    --clr-tint-20: 123 244 188; // 틴트 20
    --clr-tint-40: 143 246 196; // 틴트 40
    --clr-tint-60: 161 248 205; // 틴트 60
    --clr-tint-80: 178 249 213; // 틴트 80
    --clr-tint-100: 195 251 221; // 틴트 100

    --clr-surface-0: 15 15 15; // 표면 0
    --clr-surface-20: 38 38 38; // 표면 20
    --clr-surface-40: 61 61 61; // 표면 40
    --clr-surface-60: 85 85 85; // 표면 60
    --clr-surface-80: 111 111 111; // 표면 80
    --clr-surface-100: 138 138 138; // 표면 100

    --clr-if-0: 26 35 30; // 인터페이스 0
    --clr-if-20: 47 56 51; // 인터페이스 20
    --clr-if-40: 70 77 73; // 인터페이스 40
    --clr-if-60: 93 100 96; // 인터페이스 60
    --clr-if-80: 118 124 121; // 인터페이스 80
    --clr-if-100: 144 149 146; // 인터페이스 100

    --clr-text: 255 255 255; // 문자
    --clr-text-highlight: var(--clr-theme); // 하이라이트 된 문자
    --clr-text-on-tint: var(--clr-if-0); // 틴트 배경 위의 문자
    --clr-text-on-surface: 255 255 255; // 표면 배경 위의 문자
    --clr-text-on-invert: var(--clr-if-0); // 반전 배경 위의 문자
    --clr-text-disabled: ; // 비활성 문자

    --clr-alert: 227 23 10; // 에러
    --clr-warn: 247 179 43; // 경고
    --clr-info: 89 96 232; // 정보
    --clr-clear: 35 206 107; // 안전
    --clr-unable: ; // 불가능
}

@media (prefers-color-scheme: dark) { // 사용자 OS의 설정된 선호 색상에 맞추는 미디어 쿼리
    :root {
        @include dark-theme;
    }
}

:root.dark {
    @include dark-theme;
}

/* _dark.scss */