@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
    font-family: 'Pretendard Variable';
    src:
        local('Pretendard Variable'),
        url('/fonts/PretendardVaribale.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SUIT';
    src:
        local('SUIT Variable'),
        url('/fonts/SUIT-Variable.woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ownglyph_PDH';
    src:
        local('온글잎 박다현체'),
        url('/fonts/Ownglyph-PDH.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'SUIT', sans-serif;
    font-size: clamp(12px, 5vmin, 20px); // Reactive REM
    line-height: 1;
    scroll-behavior: smooth;

    --fnt-title-xl: 3.6rem;
    --fnt-title-lg: 2.4rem;
    --fnt-title-md: 1.6rem;
    --fnt-title-sm: 1.2rem;
    --fnt-title-xs: 1rem;

    --fnt-xl: 0.9rem;
    --fnt-lg: 0.8rem;
    --fnt-md: 0.7rem;
    --fnt-sm: 0.6rem;
    --fnt-xs: 0.5rem;

    --ff-sans-kr: 'SUIT', sans-serif; // 기본 폰트 (preload)
    --ff-sans-en: 'Poppins', sans-serif; // 영어 기본 폰트
    --ff-gothic-kr: '';
    --ff-gothic-en: '';
    --ff-serif-kr: 'MaruBuri', serif;
    --ff-serif-en: '';
    --ff-cursive: '';
    --ff-dingbat: 'Ownglyph_PDH', sans-serif;
    --rad-full: 25rem;
    --rad-xl: 0.8rem;
    --rad-lg: 0.4rem;
    --rad-sm: 0.2rem;
    --rad-xs: 0.1rem;

    --shd-0: ;
    --shd-20: ;
    --shd-40: ;
    --shd-60: ;
    --shd-80: ;
    --shd-100: 0 0.8rem 1.2rem -0.6rem rgb(var(--clr-text) / 0.25);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
}

body {
    // --opaq 내장 픽스를 이용하여 텍스트의 투명도를 조절할 수 있다.
    min-height: 100vh;
    background-color: rgb(var(--clr-background));
    font-family: var(--ff-sans-kr);
    color: rgb(var(--clr-text) / var(--opaq, 1));
    font-size: var(--fnt-md);
    word-break: keep-all;
    transition: background-color 0.25s;
    cursor:
        url('/images/cursor.png') 8 8,
        auto;

    &.prevent-scroll {
        // 모달 등을 사용할 때 <body>에 클래스를 부여하여 스크롤 방지
        overflow: hidden;
    }

    overflow: overlay;
}

::selection {
    // 텍스트 선택 영역
    background-color: rgb(var(--clr-if-100) / 0.9);
    color: rgb(var(--clr-text-on-tint));
}

::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 0.1rem;
}

::-webkit-scrollbar-track-piece {
    border-radius: 0.1rem;
    background-color: rgb(var(--clr-text) / 0.15);
}

::-webkit-scrollbar-thumb {
    border-radius: 0.1rem;
    background-color: rgb(var(--clr-text) / 0.5);
}

hr {
    height: 1px;
    border: 0;
    background-color: rgb(var(--clr-text) / 0.15);
}

h2 {
    font-size: var(--fnt-title-xl);
}

h3 {
    font-size: var(--fnt-title-lg);
}

h4 {
    font-size: var(--fnt-title-md);
}

h5 {
    font-size: var(--fnt-title-sm);
}

h6 {
    font-size: var(--fnt-title-xs);
}

img,
picture,
i,
svg,
video {
    display: block;
    object-fit: cover;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

ul,
ol,
li {
    list-style: none;
}

a {
    &,
    &:visited {
        outline: none;
        color: inherit;
        text-decoration: none;
    }
}

/* _default.scss */
