/* _registerPage.scss */

:where(#register-form-container) .service-logo-container {
    height: 8rem;
}

#form-register {
    --current-register-screen: 1;

    overflow: hidden;
}

.current-register-state {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    gap: 0.4rem;
    padding-inline: 0.8rem;
}

.register-state-item {
    width: 3.2rem;
    font-size: var(--fnt-sm);

    &.current {
        & ~ * {
            > .step-indicator {
                background-color: rgb(var(--clr-gray) / 0.25);
                box-shadow: none;
                outline: 0;
            }
        }
    }
}

.step-name {
    margin-block-end: 0.4rem;
    text-align: center;
}

.step-indicator {
    width: 100%;
    height: 0.4rem;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-theme));
    box-shadow: inset 0 0 0.1rem 0.1rem rgb(var(--clr-if-100) / 0.25);
    outline: 0.2rem solid rgb(var(--clr-theme) / 0.25);
    transition:
        background-color 0.15s,
        box-shadow 0.15s;
}

#register-state-wrapper {
    display: flex;
    flex-flow: row nowrap;
    margin-inline-start: calc((var(--current-register-screen) * -100%) + 100%);
    width: calc(100% * var(--total-register-steps));
    transition: margin-inline-start 0.3s;

    > div {
        padding: 1.2rem 0.8rem;
        width: 100%;
    }
}

.register-state-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#terms-of-service {
    // 이용약관 전용 스타일
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5em;
    margin-inline: auto;
    padding: 0.4rem 0.8rem;
    max-height: 16rem;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-sm);
    font-size: var(--fnt-sm);
    line-height: 1.4;
    overflow-y: auto;
    user-select: text;

    h2 {
        font-size: var(--fnt-title-md);
        font-weight: 900;
    }

    h3 {
        font-size: var(--fnt-title-sm);
        font-weight: 700;
    }

    ol {
        counter-set: numbs;

        li {
            counter-increment: numbs;
        }

        &.circle-numbs {
            li {
                &::before {
                    content: counter(numbs) '. ';
                }
            }
        }

        &.big-numbs {
            li {
                &::before {
                    content: '(' counter(numbs) ') ';
                }
            }
        }
    }
}

/* _registerPage.scss */
