.thread-place-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
    position: relative;
    box-sizing: border-box;
    width: min(100% - 1.6rem, 36rem);
    height: min(100% - 3.2rem, 42rem);
    // height: 100%;
    margin: 0 auto;
    gap: 0.5rem;

    .instruction,
    .title-bar {
        width: 100%;
    }

    .thread-place {
        width: 100%;
        .section-title {
            position: relative;
            color: rgb(var(--clr-text));
            font-size: var(--fnt-sm);
            font-weight: 700;
            text-align: left;
        }
        > .dropdown-container {
            isolation: isolate;
            z-index: 2;
        }
    }
}
