/* _commons.scss */

#root {
    // App, 컨테이너 쿼리를 위한 메인 컨테이너로 지정
    container-name: main-container;
    container-type: inline-size;

    position: relative;
}

#full-page-wrapper {
    // 전체 화면 위치 조정용 래퍼
    position: fixed;
    inset: 0;
    background-color: rgb(var(--clr-background));
}

#contentView {
    // 컨텐츠 컨테이너
    flex: 1;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.inner-wrapper {
    // 내부 사이징 래퍼
    margin-inline: auto;
    width: min(100% - 1.6rem, 36rem);
}

:where(#logoMain, #logoFooter) {
    // 접근성을 위한 로고 내부의 숨김 alt 처리
    position: relative;
    overflow: hidden;
}

.hidden-alt {
    // 숨김 alt
    position: absolute;
    inset-block-start: -5000rem;
    opacity: 0;
    pointer-events: none;
}

.remix {
    // Remix Icon 기본값 설정
    width: var(--icon-size, 0.8rem);
    aspect-ratio: 1 / 1;
    fill: currentColor;
}

/* 로그인, 회원가입 공통 레이아웃 요소 */

.service-container-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
    position: absolute;
    inset: 0;
    margin-inline: auto;
    width: min(100% - 1.6rem, 20rem);
}

.service-container {
    border-radius: 0 0 var(--rad-xl) var(--rad-xl);
    background-color: rgb(var(--clr-white));
    box-shadow: 0 -2.4rem 4.8rem 0.8rem rgb(var(--clr-alert) / 0.25);
    overflow: clip;
}

.service-logo-container {
    height: 12rem;
}

.service-copyright {
    margin-block-start: auto;
    padding-block: 0.8rem;
    font-size: var(--fnt-sm);
    text-align: center;
    opacity: 0.5;
}

.modal-outside {
    // 팝업 창의 외부 영역
    display: none;
    position: fixed;
    inset: 0;
    z-index: 500;

    &.on {
        display: initial;
    }
}

/* 반응형 쿼리 */

@container main-container (max-width: 960px) {
}

@container main-container (max-width: 640px) {
}

/* _commons.scss */
