/* _commons.scss */

#root {
    // App, 컨테이너 쿼리를 위한 메인 컨테이너로 지정
    container-name: main-container;
    container-type: inline-size;

    position: relative;
}

#contentView {
    // 컨텐츠 컨테이너
    flex: 1;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.inner-wrapper {
    // 내부 사이징 래퍼
    margin-inline: auto;
    width: min(100% - 1.6rem, 60rem);
}

:where(#logoMain, #logoFooter) {
    // 접근성을 위한 로고 내부의 숨김 alt 처리
    position: relative;
    overflow: hidden;
}

.hidden-alt {
    // 숨김 alt
    position: absolute;
    inset-block-start: -5000rem;
    opacity: 0;
    pointer-events: none;
}

.remix {
    // Remix Icon 기본값 설정
    width: var(--icon-size, 0.8rem);
    aspect-ratio: 1 / 1;
    fill: currentColor;
}

/* 반응형 쿼리 */

@container main-container (max-width: 960px) {
}

@container main-container (max-width: 640px) {
}

/* _commons.scss */
