/* _headers.scss */

#head-primary {
    // 주 헤더, 컨테이너 쿼리를 위한 헤더 컨테이너로 지정
    container-name: head-primary;
    container-type: inline-size;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.8rem;
    position: fixed;
    inset-block-start: 0;
    inset-inline: 0;
    padding-inline: 0.8rem;
    height: 3.2rem;
    background-color: rgb(var(--clr-theme));
    outline: 1px solid rgb(var(--clr-text) / 0.15);
    z-index: 50000;
}

#nav-primary {
    display: flex;
    align-items: center;
    height: 100%;

    > ul {
        display: contents;
    }
}

.nav-item {
    --gradient-height: 0;

    height: 100%;
    background-image: linear-gradient(
        to top,
        rgb(var(--clr-if-100)) var(--gradient-height),
        transparent var(--gradient-height)
    );
    font-weight: 200;

    > a {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        padding-inline: 0.8rem;
    }

    &:has(.active) {
        --gradient-height: 0.2rem;

        font-weight: 900;
    }
}

#head-controls {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-inline-start: auto;
}

#total-search-toggler {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.8rem;
    width: 10rem;
    height: 1.6rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-white));
    outline: 1px solid rgb(var(--clr-if-20));
    font-size: var(--fnt-sm);
    font-weight: 200;
}

#button-notify {
    display: grid;
    place-items: center;
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: var(--rad-full);
    scale: 0.75;
    opacity: 0.25;
    transition: 0.15s;

    &.on {
        opacity: 1;

        &:hover {
            background-color: rgb(var(--clr-if-60));
        }

        &:focus {
            background-color: rgb(var(--clr-white));
            color: rgb(var(--clr-if-100));
        }

        &::after {
            display: block;
            position: absolute;
            inset: 0;
            margin-inline-start: auto;
            margin-block-end: auto;
            width: 0.4rem;
            height: 0.4rem;
            border-radius: 25rem;
            background-color: rgb(var(--clr-notify));
            content: '';
        }
    }
}

#button-user-profile {
    position: relative;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-gray));
    outline: 1px solid rgb(var(--clr-text) / 0.15);
    color: rgb(var(--clr-white) / 0.5);
    overflow: clip;

    > .remix {
        position: absolute;
        inset: 0;
        margin: 0.4rem auto auto;
    }
}

.current-user-image {
    position: absolute;
    inset: 0;
    margin: auto;
}

#button-burger {
    display: flex;
    position: relative;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(var(--clr-max) / 0.25);
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-background));

    > span {
        display: block;
        position: absolute;
        inset: 0;
        margin: auto;
        width: 0.1rem;
        background-color: rgb(var(--clr-text));

        &:nth-child(1) {
            // 마지막
            inset-inline-start: 0.5rem;
            height: 0.6rem;
        }

        &:nth-child(2) {
            // 중간
            height: 0.6rem;
        }

        &:nth-child(3) {
            // 처음
            inset-inline-end: 0.5rem;
            height: 0.6rem;
        }
    }

    &:hover {
        background-color: rgb(var(--clr-if-40));
    }

    &.on {
        border-color: transparent;
        background-color: rgb(var(--clr-if-100));
        transition: 0.5s;

        > span {
            background-color: rgb(255 255 255);

            &:nth-child(1) {
                --burger-self-start: 0.4rem;
                --burger-self-rotate: 45deg;

                animation: burger-toggle 0.5s 1 forwards;
            }

            &:nth-child(2) {
                height: 0;
                transition: height 0.25s 0.25s;
            }

            &:nth-child(3) {
                --burger-self-end: 0.4rem;
                --burger-self-rotate: -45deg;

                animation: burger-toggle 0.5s 1 forwards;
            }
        }
    }
}

/* 반응형 쿼리 */

@container head-primary (max-width: 960px) {
}

@container head-primary (max-width: 640px) {
}

/* _headers.scss */
