.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 10%;

  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    .imgContainer {
      width: 5rem;
      height: 5rem;
      position: relative;
      text-align: center;
      display: flex;
      margin-left: 2rem;
      border-radius: 50%;
      overflow: hidden;

      .imgText {
        position: absolute;
        left: 1rem;
        top: 2rem;
      }

      .imgLabel {
        width: 5rem;
        height: 5rem;
        border: 1px solid #E3170A;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
      }

      .imgInput {
        position: absolute;
        visibility: hidden;
      }

      .imgView {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
      }
    }
  }

  .registerBtn {
    color: #E3170A;
  }
  .registerBtn:active {
    color: #244838;
  }

  .success, .error {
    text-align: center;
  }
}
