/* _keyframes.scss */

@keyframes rotate-conic {
    // 회전하는 conic-gradient
    from {
        --conic-range: 0deg;
    }

    to {
        --conic-range: 360deg;
    }
}

@keyframes blink {
    // 순서대로 깜빡이는 말줄임표
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes burger-toggle {
    // 햄부기 버튼
    40% {
        height: 0.1rem;
        inset-inline-start: var(--burger-self-start);
        inset-inline-end: var(--burger-self-end);
    }

    45% {
        inset-inline-start: 0;
        inset-inline-end: 0;
    }

    66% {
        inset-inline-start: 0;
        inset-inline-end: 0;
        rotate: 0;
    }

    75% {
        transform: rotateZ(var(--burger-self-rotate));
        // rotate: var(--burger-self-rotate) 0 0;
    }

    100% {
        inset-inline-start: 0;
        inset-inline-end: 0;
        height: 0.8rem;
        transform: rotateZ(var(--burger-self-rotate));
        // rotate: var(--burger-self-rotate) 0 0;
    }
}

@keyframes pop-up-message {
    // 파핑 메시지
    from {
        scale: 0;
    }

    45% {
        scale: 1.2;
    }

    55% {
        scale: 0.75;
    }

    70% {
        scale: 1.1;
    }

    90% {
        scale: 0.9;
    }

    95% {
        scale: 1.05;
    }

    to {
        scale: 1;
    }
}

@keyframes moving-gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* _keyframes.scss */
