/* _areaInfoPanel.scss */

#button-toggle-area-info {
    display: grid;
    place-items: center;
    position: fixed;
    inset-block-start: 4.8rem;
    inset-inline-start: 15.6rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-text));
    box-shadow: var(--shd-100);
    color: rgb(var(--clr-text-on-tint));
    transition:
        inset-inline-start 0.25s 0.1s,
        background-color 0.25s;
    z-index: 501;

    > .remix {
        rotate: -180deg;
        transition: rotate 0.5s 0.1s;
    }

    &.on {
        inset-inline-start: 0.8rem;
        background-color: rgb(var(--clr-notify));

        > .remix {
            rotate: 0deg;
        }
    }
}

#panel-area-info {
    position: fixed;
    inset-block-start: 4rem;
    inset-inline-start: 0.8rem;
    width: 16rem;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-white));
    box-shadow: var(--shd-100);
    translate: -200% 0;
    transition: translate 0.25s;
    overflow: clip;
    z-index: 500;

    &.on {
        translate: 0;
    }
}

.area-picture-carousel {
    position: relative;
    height: 12rem;
    overflow: hidden;
    user-select: none;

    &::after {
        display: block;
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            to top,
            rgb(var(--clr-text) / 0.5),
            transparent 50%
        );
        z-index: -1;
        pointer-events: none;
        content: '';
    }
}

.picture-carousel-wrapper {
    position: absolute;
    inset: 0;
    background-color: rgb(var(--clr-point));
    z-index: -1;
}

#button-goto-community {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    inset-block-end: 0.8rem;
    inset-inline: 0;
    margin: auto;
    padding-inline: 0.8rem;
    width: fit-content;
    height: 1.6rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-white) / 0.75);
    backdrop-filter: blur(1.8rem);
    box-shadow: var(--shd-100);
    font-size: var(--fnt-sm);
    font-weight: 900;
}

.area-descriptions {
    padding: 0.8rem;
    font-size: var(--fnt-sm);
}

.area-town-name {
    font-weight: 900;
}

.area-city-province-name {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-block: 0.4rem;
}

.area-users {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.user-icons-container {
    display: flex;
    align-items: center;
}

.user-icon {
    display: grid;
    place-items: center;
    padding: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    border: 0.1rem solid rgb(var(--clr-white));
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-tint-0));
    box-shadow: 0 0.2rem 0.4rem -0.1rem rgb(var(--clr-text) / 0.5);
    user-select: none;
    z-index: var(--order);
    isolation: isolate;

    &:not(:last-of-type) {
        margin-inline-end: -0.4rem;
    }

    &:hover {
        scale: 1.5;
        z-index: 10 !important;
    }
}

.user-total-counter {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    > span:first-of-type {
        font-weight: 900;
    }
}

.area-section-title {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-inline: 0.8rem;
    height: 2.4rem;
    border-block: 1px solid rgb(var(--clr-text) / 0.15);
}

.area-threads-list {
    padding: 0.8rem;
    max-height: 16rem;
    overflow-y: auto;
}

.area-thread-item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    height: fit-content;

    &:hover {
        > .area-thread-item-descriptions {
            background-color: rgb(var(--clr-text) / 0.1);
        }
    }

    & + & {
        margin-block-start: 0.6rem;
    }
}

.area-thread-item-image-wrapper {
    flex-shrink: 0;
    padding: 0.2rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: var(--rad-sm);
    background-color: rgb(var(--color-thread-type, var(--clr-gray)));

    > * {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        border-radius: var(--rad-xs);
        background-color: rgb(var(--clr-black) / 0.15);
    }
}

.area-thread-item-descriptions {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
    padding-inline: 0.4rem;
    border-radius: var(--rad-sm);
}

.area-thread-item-title {
    font-weight: 700;
}

.area-thread-item-daterange {
    font-size: var(--fnt-xs);
}

/* _areaInfoPanel.scss */
