/* _mainModal.scss */

#main-modal-backdrop {
    position: fixed;
    inset: 0;
    max-height: 100vh;
    background-color: rgb(var(--clr-text) / 0.75);
    z-index: 50001;
}

#main-modal {
    flex-shrink: 0;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    inset: 0;
    margin: auto;
    width: min(100% - 1.6rem, 36rem);
    height: min(100% - 3.2rem, 42rem);
    border: 0;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-white));
    box-shadow: var(--shd-100);
    overflow: hidden;

    &:has(.cover-signature-image-container) {
        #main-modal-side-menu {
            margin-block-start: 2.8rem;
        }
    }
}

#main-modal-body {
    flex: 1;
    display: flex;
    overflow: hidden;

    &.missing {
        #main-modal-sidebar {
            display: none;
        }
    }
}

#main-modal-sidebar {
    width: 9rem;
    background-color: rgb(var(--clr-background));
    background-image: linear-gradient(
        to left,
        rgb(var(--clr-text) / 0.15),
        rgb(var(--clr-text) / 0.15) 1px,
        transparent 1px
    );
}

#main-modal-side-menu {
    padding-block: 0.8rem;
    transition: margin-block-start 0.15s;
}

.side-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.8rem;
    height: 1.8rem;
    font-size: var(--fnt-sm);
    font-weight: 200;
    cursor: pointer;

    > .remix {
        opacity: 0.5;
    }

    &:not(.on):hover {
        background-color: rgb(var(--clr-theme) / 0.3);
    }

    &.on {
        background-color: rgb(var(--clr-theme));
        font-weight: 900;
        pointer-events: none;

        > .remix {
            opacity: 1;
        }
    }
}

#main-modal-content-container {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
}

#main-modal-navigation {
    flex-shrink: 0;
    display: flex;
    padding-inline: 0.4rem;
    height: 2.4rem;
    background-image: linear-gradient(
        to top,
        rgb(var(--clr-text) / 0.15) 1px,
        transparent 1px
    );

    > ul {
        display: contents;
    }
}

.modal-tab-navigation-item {
    --selected: 0;

    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-inline: 0.8rem;
    background-image: linear-gradient(
        to top,
        rgb(var(--clr-theme)),
        rgb(var(--clr-theme)) var(--selected),
        transparent var(--selected)
    );
    font-size: var(--fnt-sm);
    font-weight: 200;
    cursor: pointer;

    &:not(.on):hover {
        font-weight: 400;
    }

    &.on {
        --selected: 0.2rem;

        font-weight: 900;
        pointer-events: none;
    }
}

#main-modal-content {
    flex: 1;
    overflow-y: auto;
}

.user-common-item-list {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.8rem;
    padding: 0.8rem;
}

.user-common-labeled-input {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
}

.common-input-labels {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--fnt-sm);
    font-weight: 200;

    > .remix {
        opacity: 0.5;
    }
}

/* 모달 외부에서 사용할 확률이 적은 컴포넌트들 */

/* 모달 섹션 타이틀 */

.modal-section-title {
    display: flex;
    align-items: center;
    gap: 0.1rem;
    padding-inline: 0.8rem;
    height: 2.4rem;
    border-block-end: 1px solid rgb(var(--clr-text) / 0.15);

    > .remix {
        opacity: 0.5;
    }

    > p {
        font-size: var(--fnt-sm);
        font-weight: 900;
    }
}

/* 날짜 분단선 */

.modal-date-separator {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: var(--fnt-xs);

    > hr {
        flex: 1;
    }

    > span {
        flex-shrink: 0;
        opacity: 0.5;
    }
}

/* 모달 인스트럭션 */

.main-modal-instruction {
    padding: 1.2rem 0.8rem;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-tint-100) / 0.05);

    > p {
        flex-flow: row wrap;
        font-size: var(--fnt-sm);
        text-align: center;
        line-height: 1.4;
        text-wrap: balance;
    }

    span:not(.instruction-emoji) {
        opacity: 0.75;
    }

    .instruction-headline {
        margin-inline: 0.2rem;
        font-weight: 900;
        opacity: 1;
    }
}

/* 리뷰 종합 섹션 */

#review-total-score {
    display: flex;
    gap: 1.2rem;
    position: sticky;
    inset-block: 0;
    border-block-end: 1px solid rgb(var(--clr-text) / 0.15);
    background-color: rgb(var(--clr-white));
    z-index: 2;
}

.review-score-wrapper {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.6rem;
    padding: 0.8rem;
}

.review-score-target {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--fnt-sm);
}

.review-score-target-name {
    font-weight: 900;
}

.review-score-everage {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-weight: 900;

    > svg {
        // 나중에 생각나면 색깔이랑 애니메이션 바꿔보기
        color: rgb(var(--clr-text));
    }
}

.review-score-total-count {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding: 0.2rem 0.6rem;
    width: fit-content;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-sm);
    font-size: var(--fnt-sm);
}

.review-ai-summary {
    // 몰래 넣어놔야지 히히
    flex: 1;
    margin: 0.8rem;
    padding: 0.8rem;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-info) / 0.05);
    font-size: var(--fnt-sm);
}

.ai-summary-title {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    margin-block-end: 0.6rem;
    width: fit-content;
    background-image: linear-gradient(to right, blue, red, gold);
    color: transparent;
    font-weight: 900;
    background-clip: text;

    > .remix {
        color: slateblue;
    }
}

.ai-summary-content {
    line-height: 1.4;
    word-break: break-all;

    &::before {
        content: '“';
    }

    &::after {
        content: '”';
    }
}

/* 글타래 상태 분류 */

#user-threads-category {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding: 0.8rem 0.8rem 0;
    z-index: 2;
}

.user-threads-category-item {
    display: grid;
    place-items: center;
    padding-inline: 0.8rem;
    width: fit-content;
    height: 1.6rem;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-white) / 0.75);
    backdrop-filter: blur(1.8rem);
    font-size: var(--fnt-sm);
    font-weight: 200;

    &:not(.current) {
        cursor: pointer;

        &:hover {
            background-color: rgb(var(--clr-tint-100) / 0.05);
        }
    }

    &.current {
        background-color: rgb(var(--clr-text));
        color: rgb(var(--clr-text-on-tint));
        font-weight: 700;
    }
}

/* 사용자 1:1 대화 */

#user-chat-room-container {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
}

#user-chat-room-body {
    flex: 1;
    overflow-y: scroll;
}

#user-chat-room-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    inset-block-start: 0;
    padding-inline: 0.8rem;
    height: 2.4rem;
    background-color: rgb(var(--clr-text) / 0.75);
    backdrop-filter: blur(1.8rem);
    color: rgb(var(--clr-text-on-tint));
    z-index: 2;
}

#user-chat-room-stacks {
}

#user-chat-room-input-container {
    flex-shrink: 0;
}

.chat-input-wrapper {
    display: flex;
    gap: 0.4rem;
    padding: 0.4rem;
    background-color: rgb(var(--clr-white));
    background-image: linear-gradient(
        rgb(var(--clr-tint-100) / 0.05),
        rgb(var(--clr-tint-100) / 0.05)
    );
}

#input-chat-text {
    flex: 1;
}

/* 반응형 쿼리 */

@container main-container (max-width: 720px) {
    #main-modal {
        &:has(.cover-signature-image-container) {
            #main-modal-side-menu {
                margin-block-start: 0;
            }
        }
    }

    #main-modal-body {
        flex-flow: column nowrap;
    }

    #main-modal-sidebar {
        width: 100%;
        background-color: rgb(var(--clr-background));
    }

    #main-modal-side-menu {
        display: flex;
        padding-block: 0;
    }

    .side-menu-item {
        justify-content: flex-start;
        align-items: center;
        gap: 0.2rem;
        padding-inline: 0.4rem;

        > .remix {
            opacity: 0.5;
        }
    }

    #main-modal-content-container {
    }
}

@container main-container (max-width: 640px) {
    // #main-modal-sidebar {
    //     display: none;
    // }
}

/* _mainModal.scss */
