/* _mainModalCover.scss */

#main-modal-cover {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
    height: 12rem;
    background-color: rgb(var(--clr-gray));
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23666666' fill-opacity='0.4'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    overflow: clip;

    &::before {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            to top,
            rgb(var(--clr-black) / 0.5),
            transparent
        );
        pointer-events: none;
        content: '';
    }
}

.cover-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    inset-block-start: 0.4rem;
    inset-inline: 0.4rem;
    z-index: 3;
}

.cover-controls-author {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#button-close-modal {
    display: grid;
    place-items: center;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-black) / 0.15);
    backdrop-filter: blur(1.8rem);
    color: rgb(var(--clr-text-on-tint));
}

.cover-descriptions-container {
    display: flex;
    flex: 1;
    padding: 0.8rem;
    margin-inline-start: 10rem;
    height: 100%;
    color: rgb(var(--clr-white));
    z-index: 2;
}

.cover-descriptions {
    margin-block-start: auto;
}

.thread-title-container {
    margin-block-end: 0.6rem;
    font-weight: 900;
}

.thread-title {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    > .remix {
        color: rgb(var(--clr-clear));
    }
}

.thread-category-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--fnt-sm);
    opacity: 0.5;
}

/* _mainModalCover.scss */
