/* _mainModalCover.scss */

#main-modal-cover {
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    position: relative;
    height: 12rem;
    background: linear-gradient(
        var(--conic-range),
        rgb(var(--clr-theme)),
        rgb(var(--clr-mid-tone)),
        rgb(var(--clr-point)),
        rgb(var(--clr-clear))
    ); // 임시 색상
    background-size: 400% 400%;
    animation:
        moving-gradient 15s ease infinite,
        rotate-conic 30s linear infinite;
    color: rgb(var(--clr-white));

    &::before {
        position: absolute;
        inset: 0;
        background-image: linear-gradient(
            to top,
            rgb(var(--clr-black) / 0.5),
            transparent
        );
        pointer-events: none;
        content: '';
    }

    &.rescue,
    &.missing {
        height: 6rem;
        color: rgb(var(--clr-text));

        &::before {
            display: none;
        }
    }
}

.cover-controls {
    display: flex;
    align-items: center;
    position: absolute;
    inset-block-start: 0.4rem;
    inset-inline: 0.4rem;
    z-index: 3;
}

.cover-controls-author {
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

#button-close-modal {
    display: grid;
    place-items: center;
    margin-inline-start: auto;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-text) / 0.5);
    backdrop-filter: blur(1.8rem);
    color: rgb(var(--clr-text-on-tint));
    transition: background-color 0.15s;

    &:hover {
        background-color: rgb(var(--clr-alert) / 0.5);
    }
}

.cover-descriptions-container {
    display: flex;
    flex: 1;
    padding: 0.8rem;
    height: 100%;
    z-index: 2;
}

.cover-descriptions {
    margin-block-start: auto;
}

.thread-title-container {
    margin-block-end: 0.6rem;
    font-weight: 900;
}

.thread-title {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    > .remix {
        color: rgb(var(--clr-clear));
    }
}

.thread-category-container {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    font-size: var(--fnt-sm);
    opacity: 0.75;
}

/* 반응형 쿼리 */

@container main-container (max-width: 720px) {
    #main-modal-cover {
        height: 7.2rem;
    }
}

/* _mainModalCover.scss */
