/* _mallangsItem.scss */

.mallang-item {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding: 0.8rem;
}

.mallang-image-container {
    // 말랑이 프로파일 이미지 컨테이너
    flex-shrink: 0;
    position: relative;
    width: 3.2rem;
    height: 3.2rem;
    border: 1px solid rgb(var(--clr-black) / 0.15);
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-point));
    color: rgb(var(--clr-white));
    overflow: clip;
    user-select: none;
    pointer-events: none;

    > .mallang-image {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 100%;
        height: 100%;

        &.not-exist {
            width: 2rem;
            rotate: -15deg;
        }
    }
}

.mallang-descriptions {
    width: 100%;

    > dt {
        display: flex;
        align-items: center;
        gap: 0.4rem;
        margin-block-end: 0.2rem;
        width: 100%;

        > .mallang-main-indicator {
            flex-shrink: 0;
            padding: 0.2rem 0.4rem;
            border-radius: var(--rad-full);
            background-color: rgb(var(--clr-point));
            font-size: var(--fnt-xs);
            font-weight: 700;
        }

        > .mallang-name {
            font-weight: 900;
            word-break: break-all;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    > dd {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        color: rgb(var(--clr-text) / 0.5);
        font-size: var(--fnt-sm);
    }
}

/* _mallangsItem.scss */
