/* _nameTag.scss */

.nametag-content {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 0.4rem;
    position: relative;

    &-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.2rem;
        height: 1.2rem;
        background: rgb(var(--clr-gray));
        border: 1px solid rgb(var(--clr-text) / 0.15);
        border-radius: var(--rad-full);
        position: relative;
        overflow: clip;

        > .remix {
            color: rgb(var(--clr-white) / 0.5);
            margin-block-start: 0.4rem;
        }
    }

    &-user-image {
        position: absolute;
        inset: 0;
    }

    &-username {
        max-width: 8rem;
        color: rgb(var(--clr-text));
        font-size: var(--fnt-md);
        font-weight: 700;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

/* _nameTag.scss */
