/* _notificationCard.scss */

#notification-card {
    position: fixed;
    inset-block-start: 4rem;
    inset-inline-end: 0.8rem;
    margin: auto;
    width: 16rem;
    height: fit-content;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-white));
    box-shadow: var(--shd-100);
    translate: 0 -8rem;
    opacity: 0;
    transition:
        translate 0.25s,
        opacity 0.15s;
    overflow: clip;
    z-index: 500;

    &.on {
        translate: 0;
        opacity: 1;
    }
}

.notification-tab-container {
    position: relative;
    display: flex;
    height: 2.4rem;

    &::before {
        position: absolute;
        inset-block-end: 0;
        inset-inline: 0;
        margin-inline: 0 auto;
        width: 50%;
        height: 0.2rem;
        background-color: rgb(var(--clr-theme));
        transition: translate 0.25s;
        content: '';
    }

    &:has(.messages.on) {
        &::before {
            translate: 100% 0;
        }
    }
}

.notification-tab-button {
    flex: 1;
    display: flex;
    align-items: center;
    padding-inline: 0.8rem;
    font-weight: 200;

    > .button-label {
        display: flex;
        align-items: center;
        gap: 0.2rem;
        margin-inline: auto;

        > .button-label-text {
            opacity: 0.5;
        }

        > .button-label-value {
            font-size: var(--fnt-sm);
        }
    }

    &.on {
        > .button-label {
            > .button-label-text {
                font-weight: 700;
                opacity: 1;
            }

            > .button-label-value {
                font-weight: 400;
            }
        }
    }
}

.notification-list {
    padding: 0.8rem;
    max-height: 12rem;
    overflow-y: auto;

    > * + * {
        margin-block-start: 0.6rem;
    }
}

.notification-reply-item {
    // 댓글 알림 아이템
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-sm);
    font-size: var(--fnt-sm);

    > .notification-reply-content {
        opacity: 0.5;
    }

    &:not(.unread):hover {
        background-color: rgb(var(--clr-text) / 0.1);
    }

    &.unread {
        background-color: rgb(var(--clr-theme));

        > .notification-reply-content {
            opacity: 1;
        }
    }
}

.notification-reply-titlebar {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-inline: 0.4rem;
    height: 1.6rem;

    font-weight: 200;

    > .remix {
        opacity: 0.5;
    }
}

.notification-reply-content {
    padding: 0.8rem;
    font-weight: 700;
    line-height: 1.4;
}

.notification-message-item {
    // 메시지 알림 아이템
    display: flex;
    gap: 0.4rem;

    &:not(.unread):hover {
        > .notification-message-descriptions {
            background-color: rgb(var(--clr-text) / 0.1);
        }
    }

    &.unread {
        > .notification-message-descriptions {
            background-color: rgb(var(--clr-theme));
        }
    }
}

.notification-message-image-wrapper {
    flex-shrink: 0;
    display: grid;
    place-items: center;
    position: relative;
    width: 2.4rem;
    height: 2.4rem;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-gray));
    color: rgb(var(--clr-white));

    > .remix {
        margin-block-start: 0.8rem;
        opacity: 0.5;
    }
}

.notification-message-descriptions {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.2rem;
    border: 1px solid rgb(var(--clr-text) / 0.15);
    border-radius: var(--rad-sm);
    font-size: var(--fnt-sm);
}

.notification-message-username {
    padding: 0.4rem;
    font-weight: 700;
}

.notification-message-content {
    padding: 0.4rem;
    font-weight: 200;
}

.notification-message-text {
    line-height: 1.4;
}

.notification-message-count {
    margin-inline-start: auto;
    margin-block-start: 0.2rem;
    padding: 0.2rem 0.6rem;
    width: fit-content;
    border-radius: var(--rad-full);
    background-color: rgb(var(--clr-notify));
    color: rgb(var(--clr-text-on-tint));
    font-size: var(--fnt-xs);
    font-weight: 700;
    line-height: 1;
}

.notification-clear-button-wrapper {
    position: relative;
    width: 100%;
    overflow: clip;

    &::before {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 4.8rem;
        height: 4.8rem;
        border-radius: var(--rad-full);
        background-color: rgb(var(--clr-if-100));
        opacity: 0;
        transition: opacity 0.25s;
        content: '';
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }
}

#button-clear-notifications {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.4rem;
    padding-inline: 0.8rem;
    width: 100%;
    height: 2.4rem;
    background-color: rgb(var(--clr-white) / 0.75);
    backdrop-filter: blur(1.8rem);
    font-size: var(--fnt-sm);
    font-weight: 700;
}

/* _notificationCard.scss */
