// Color Variables
$text-primary: #302825;
$text-opacity: 0.5;
$background-bubble: #ffe4ac;
$profile-background: #808080;
$white: #ffffff;

// Sizing Variables
$profile-size: 36px;
$chat-width: 169px;
$max-chat-width: 360px;

.chat-item {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 8px;
    position: relative;
    width: 508px;
    height: 65px;
    left: 36px;
    top: 399px;

    &-profile {
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        isolation: isolate;
        width: $profile-size;
        height: $profile-size;
        background: $profile-background;
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: 500px;
        flex: none;
        order: 0;
        flex-grow: 0;

        &-icon {
            position: absolute;
            width: $profile-size;
            height: $profile-size;
            left: 0;
            top: 7px;
            flex: none;
            order: 0;
            flex-grow: 0;
            z-index: 0;

            // Vector styling (if needed)
            &::before {
                position: absolute;
                left: 16.67%;
                right: 16.67%;
                top: 4.17%;
                bottom: 8.33%;
                background: $white;
            }
        }
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        width: $chat-width;
        max-width: $max-chat-width;
        height: 65px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    &-username {
        width: 27px;
        height: 12px;
        font-family: "SUIT Variable";
        font-style: normal;
        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        color: $text-primary;
        opacity: $text-opacity;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &-bubble {
        display: flex;
        flex-direction: row;
        // align-items: flex-start;
        align-items: center;
        width: $chat-width;
        padding: 0.5rem 0.75rem;
        max-width: $max-chat-width;
        height: 33px;
        background: $background-bubble;
        border-radius: 0 8px 8px 8px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;

        // Chat text styling
        font-family: "SUIT Variable";
        font-style: normal;
        font-weight: 400;
        font-size: var(--fnt-md);
        line-height: 17px;
        color: $text-primary;
        width: 145px;
        height: 17px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    &-time {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 4px;
        width: $chat-width;
        height: 12px;
        flex: none;
        order: 1;
        align-self: stretch;
        flex-grow: 0;

        // Time text styling
        font-family: "SUIT Variable";
        font-style: normal;
        font-weight: 200;
        font-size: 10px;
        line-height: 12px;
        text-align: right;
        color: $text-primary;
        opacity: $text-opacity;
        width: 38px;
        height: 12px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }
}
