/* _replyItem.scss */

.reply-item {
    display: flex;
    gap: 0.8rem;

    &:has(input:checked) {
        > .reply-item-body {
            background-color: rgb(var(--clr-tint-20) / 0.05);
            outline: 0.2rem solid rgb(var(--clr-info) / 0.25);
        }
    }
}

.reply-item-checkbox-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 2.8rem;
}

.reply-item-body {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
    padding: 0.8rem;
    border-radius: var(--rad-lg);
}

.reply-item-user {
    display: flex;
    align-items: center;
}

.reply-item-user-controls {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    margin-inline-start: auto;
}

.reply-content-wrapper {
    display: flex;
    gap: 0.4rem;
}

.reply-depth-indicator {
    flex-shrink: 0;
    width: 1.2rem;

    &::before {
        display: block;
        margin-inline-start: auto;
        width: 55%;
        height: 0.5rem;
        border-bottom-left-radius: var(--rad-sm);
        border-block-end: 1px solid rgb(var(--clr-text) / 0.25);
        border-inline-start: 1px solid rgb(var(--clr-text) / 0.25);
        content: '';
    }
}

.reply-content-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
}

.reply-content-text {
    line-height: 1.4;
}

.reply-item-datetime {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: var(--fnt-sm);
    font-weight: 200;
    opacity: 0.5rem;
}

/* _replyItem.scss */
