/* _reviewItem.scss */

.review-item {
    display: flex;
    gap: 0.8rem;

    &:has(input:checked) {
        > .review-item-descriptions {
            background-color: rgb(var(--clr-tint-20) / 0.05);
            outline: 0.2rem solid rgb(var(--clr-info) / 0.25);
        }
    }

    &:not(:has(input:checked)):hover {
        > .review-item-descriptions {
            background-color: rgb(var(--clr-tint-20) / 0.05);
        }
    }
}

.review-item-checkbox-wrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: 2.8rem;
}

.review-item-descriptions {
    flex: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.4rem;
    padding: 0.8rem;
    border-radius: var(--rad-lg);
}

.review-item-author {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-item-content {
    display: flex;
    flex-flow: row wrap;
    gap: 0.8rem;
}

.review-item-image-container {
    padding: 0.2rem;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-white));
    box-shadow: 0 0.2rem 0.2rem rgb(var(--clr-text) / 0.1);

    &:hover {
        outline: 0.2rem solid rgb(var(--clr-tint-100) / 0.15);
    }
}

.review-item-image {
    max-width: 8rem;
    border-radius: var(--rad-sm);
    cursor: pointer;

    &:hover {
        filter: brightness(1.2);
    }
}

.review-item-text {
    padding-block: 0.4rem;
    line-height: 1.4;
}

.review-item-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* _reviewItem.scss */
