.setting-mallangs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 20rem;
    margin: 0 auto;

    .add-mallang-form {
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        padding: 0.8rem;
        width: 100%;
    }

    // Large Text Input
    .large-text-input {
        display: flex;
        align-items: center;
        height: 2.4rem;
        width: 100%;
        border-bottom: 0.1rem solid rgba(47, 40, 36, 0.15);
        padding: 0 0.4rem;

        .name-input {
            color: rgb(var(--clr-text));
            font-size: var(--fnt-title-sm);
            opacity: 0.5;
            width: 100%;
            text-align: center;
            font-weight: 900;
        }
    }

    .large-text-input input:focus {
        outline: none;
    }

    .label-type {
        color: rgb(var(--clr-text));
        font-size: var(--fnt-sm);
        opacity: 0.5;
        margin-bottom: 0.4rem;
    }

    // 생년월일
    .birthday-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 1.6rem;
        border: 1px solid rgba(47, 40, 36, 0.15);
        border-radius: var(--rad-xs);
        padding: 0 0.4rem;

        .birthday-wrapper {
            flex-grow: 1;
            color: rgb(var(--clr-text));
            font-size: var(--fnt-md);
            opacity: 0.5;
        }

        .birthday-selector {
            display: flex;
            align-items: center;
        }
    }

    // 몸무게
    .killogram {
        display: flex;
        align-items: center;
        height: 1.6rem;
        border: 0.05rem solid rgba(47, 40, 36, 0.15);
        border-radius: var(--rad-xs);
        padding: 0 0.4rem;

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .killogram-input {
            flex-grow: 1;
            color: rgb(var(--clr-text));
            font-size: var(--fnt-md);
            opacity: 0.5;
        }

        input:focus {
            outline: none;
        }

        .killogram-kg {
            color: rgb(var(--clr-text));
            font-size: var(--fnt-md);
            opacity: 0.5;
            margin-left: 0.2rem;
        }
    }

    // 칩 내장번호
    .chip-number-div {
        display: flex;
        align-items: center;
        height: 1.6rem;
        border: 0.05rem solid rgba(47, 40, 36, 0.15);
        border-radius: var(--rad-xs);
        padding: 0 0.4rem;

        .chip-number {
            color: rgb(var(--clr-text));
            font-size: var(--fnt-md);
            opacity: 0.5;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        input:focus {
            outline: none;
        }
    }
}
