/* _spinLoader.scss */

#spinLoader {
    position: fixed;
    inset: 0;
    margin: auto;
    padding: 1px;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 25rem;
    background-image: repeating-conic-gradient(
        from var(--conic-range),
        rgb(var(--clr-if-0)),
        rgb(var(--clr-tint-100)) 50%
    );
    box-shadow: 0 0 1.2rem -.4rem rgb(var(--clr-tint-80) / 1);
    animation: rotate-conic 1s linear infinite;
    mix-blend-mode: screen;

    > div {
        display: grid;
        place-items: center;
        width: 100%;
        height: 100%;
        border-radius: 25rem;
        background-color: rgb(0 0 0);
        color: rgb(128 128 128);
        font-weight: 900;
    }
}

.dark {
    #spinloader {
        mix-blend-mode: screen;
    }
}

.light {
    #spinloader {
        mix-blend-mode: overlay;
    }
}

/* _spinLoader.scss */