.star-container {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    &-rating {
        display: flex;
        align-items: center;
        &-element {
            cursor: pointer;
        }
    }

    &-score {
        color: rgb(var(--clr-text));
    }
}
