// 토글
.toggle-div {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .toggle-container {
        width: 1.2rem;
        height: 0.8rem;
        border: 0.05rem solid #2f282426;
        border-radius: var(--rad-full);
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        padding: 0.1rem;
        position: relative;
        transition: all 0.3s ease;

        // 토글 off
        align-items: flex-start;
        background-color: rgb(var(--clr-background));

        &.on {
            // 토글 on
            align-items: flex-end;
            background-color: rgb(var(--clr-clear));
        }

        .toggle-button {
            width: 0.6rem;
            height: 0.6rem;
            border-radius: var(--rad-full);
            background-color: rgb(var(--clr-white));
            border: 0.05rem solid rgba(47, 40, 36, 0.15);
            box-shadow: 0px 0.05rem 0px rgba(0, 0, 0, 0.05);
            transition: transform 0.3s ease;
        }
    }

    .toggle-label {
        color: rgb(var(--clr-text));
        font-size: var(--fnt-sm);
        font-weight: 700;
    }
}
