/* _userProfileCard.scss */

#user-profile-card {
    position: fixed;
    inset-block-start: 4rem;
    inset-inline-end: -120%;
    margin: auto;
    width: 16rem;
    height: fit-content;
    border-radius: var(--rad-lg);
    background-color: rgb(var(--clr-white));
    box-shadow: var(--shd-100);
    opacity: 0;
    transition:
        inset-inline-end 0.25s,
        opacity 0.5s;
    overflow: clip;
    z-index: 500;

    &.on {
        inset-inline-end: 0.8rem;
        opacity: 1;
    }
}

.profile-card-title-bar {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    padding-inline: 0.8rem;
    height: 2rem;
    font-size: var(--fnt-sm);
}

#button-profile-card-close {
    display: grid;
    place-items: center;
    margin-inline-start: auto;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: var(--rad-full);

    &:hover {
        background-color: rgb(var(--clr-text));
        color: rgb(var(--clr-white));
    }
}

.profile-card-body {
    border-block: 1px solid rgb(var(--clr-text) / 0.15);
}

.profile-card-controls {
    display: flex;
    height: 2.4rem;
}

.profile-card-buttons {
    display: flex;
    align-items: center;
    flex: 1;
    padding-inline: 0.8rem;
    font-size: var(--fnt-sm);
    transition: background-color 0.15s;

    > span {
        margin-inline: auto;
    }

    &#button-show-profile {
        background-color: rgb(var(--clr-theme));
    }

    &:hover {
        background-color: rgb(var(--clr-if-60)) !important;
    }
}

/* _userProfileCard.scss */
