/* _userLocationMap.scss */

/* _userLocationMap.scss */

.user-location-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: min(100% - 1.6rem, 24rem);
    height: 100%;
    margin: 0 auto;
    border-radius: var(--rad-lg);
    box-shadow: 0 0.8rem 1.2rem 0 rgba(0, 0, 0, 0.25);

    .section-titlebar {
        display: flex;
        align-items: center;
        align-self: stretch;
        flex-shrink: 0;
        gap: 0.2rem;
        position: relative;
        height: 2.4rem;
        padding: 0 0.8rem 0 0.8rem;
        border-top: 0.05rem solid rgba(47, 40, 36, 0.15);

        .icon-hashtag {
            flex-shrink: 0;
            position: relative;
            width: 0.8rem;
            height: 0.8rem;
            opacity: 0.5;
        }

        .section-search-label {
            flex-shrink: 0;
            flex-basis: auto;
            position: relative;
            height: 0.75rem;
            color: rgb(var(--clr-text));
            font-size: var(--fnt-sm);
            font-weight: 900;
            line-height: 0.75rem;
            text-align: left;
            white-space: nowrap;
        }
    }

    #user-location-map-container {
        position: relative;
        width: 100%;
        height: 28rem;
    }

    #user-location-map {
        width: 100%;
        height: 100%;
    }

    .map-bottom-content {
        width: 100%;
        background: rgb(var(--clr-surface-0));
        border-radius: 0 0 var(--rad-lg) var(--rad-lg);

        .notification-map-content {
            display: flex;
            align-items: center;
            justify-content: center;
            align-self: stretch;
            flex-shrink: 0;
            gap: 0.2rem;
            position: relative;
            padding: 0.8rem;
            border: {
                top: 0.05rem solid rgba(47, 40, 36, 0.15);
                bottom: 0.05rem solid rgba(47, 40, 36, 0.15);
            }

            .icon-location-area {
                flex-shrink: 0;
                position: relative;
                width: 0.8rem;
                height: 0.8rem;
                opacity: 0.5;
            }

            .map-marker {
                flex-shrink: 0;
                flex-basis: auto;
                position: relative;
                height: 0.75rem;
                color: rgb(var(--clr-text));
                font-size: var(--fnt-sm);
                font-weight: 200;
                line-height: 0.75rem;
                text-align: left;
                white-space: nowrap;
            }
        }

        .button-map-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            flex-shrink: 0;
            gap: 0.4rem;
            position: relative;
            padding: 0.8rem;

            .button-selection-submit {
                display: flex;
                align-items: center;
                justify-content: center;
                align-self: stretch;
                flex-shrink: 0;
                gap: 0.4rem;
                position: relative;
                height: 2.4rem;
                padding: 0 1.2rem 0 1.2rem;
                cursor: pointer;
                background: rgb(var(--clr-if-0));
                border: none;
                border-radius: var(--rad-lg);
            }

            .icon-check {
                flex-shrink: 0;
                position: relative;
                width: 0.8rem;
                height: 0.8rem;
            }

            .button-map-label {
                flex-shrink: 0;
                flex-basis: auto;
                position: relative;
                height: 0.75rem;
                color: rgb(var(--clr-text));
                font-size: var(--fnt-sm);
                font-weight: 700;
                line-height: 0.75rem;
                text-align: left;
            }
        }
    }
}
